a {
  color: #00B7FF;
}
#map {
  height: 100%;
  width: 80%;
}
#controls {
  height: 100%;
  width: 20%;
  object-position: right;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
